form {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
} 

label {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.input {
  margin: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
} 

#creditcard {
  background: #ffff;
  margin: 2rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: right;

}


button {
  background-color: #97adc9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
}


button {
  background-color: #97adc9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;

}

#creditcard {
  background: #ffff;
  margin: 2rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} */

